#blog h3, h4 {
    text-align: center;
}
#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap; /*si no encaje baje*/
    
}
#blog article {
    margin: 15px;
}
#blog img {
    
    height:180px;x
    width: 100%;
    max-width: 280px;
}
@media (min-width:1024px){
 #blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap; /*si no encaje baje*/
width: 700px;
}    
}