/*
font-family: 'Poiret One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Jura', sans-serif;*/
#contenidos{
	width:1000px;
	height: auto;
	margin: auto;
	position: relative;
	/*background: white;*/
	border-radius: 5px; /*--curvea las esquinas*/
}

/*estios de la galeria, para ver las fotos de los perros y gatos*/
.galeria{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing:border-box;
	display: flex;
	flex-wrap: wrap;
}
.galeria li{
	margin: 5px;

}
.galeria img{
	width: 150px;
	height: 100px;
}
/*estilos del modal*/
.modal{
	display: none;
	/*visibility: hidden;
	opacity: 0;*/
}
.modal:target{
	/*visibility: visible;
	opacity: 1;
	transition: all 0.5s;*/
	width:100%;
	position: fixed;
	display:block;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;,
	width: 100%;
	height: 100%;
}
.
.modal h3{
	color: white;
	font-size: 60px;
	text-align: center;
	margin: 15px 0;
}
.imagen {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content:center;
	align-items:center;
}
.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;

}
.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink:2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}
.asider img {
	width: 200px;
	height: 200px;
	max-width: 200px;
	box-sizing: border-box;
}
.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color:#000;
	padding: 5px;
	border-radius: 50%
	line-heighth:25px;

}
/*estilos basicos*/
body
{
	background-image: url(../img/fondopatitas3.jpg);
	background-repeat: repeat; /*no repetir imagen en pantallas grandes*/
	/*background-size: cover;/*ampliar imagen si es necesario*/
	background-color: #444;
}
h1{
	font-family: 'Poiret One',cursive;
	/*color: white;*/
	margin-left: 5px;
	font-size: 50px;
	text-align: left;
}

h2{
	font-family: 'Quicksand',cursive;
	/*color:white;*/
	background-color: #F5EDEB;
	margin-left: 5px;
	color: #444;
    position: relative;
    font-size: 20px;
	text-align: left;
}
h2 span{/*efecto maquina escribir*/
    position: absolute;
    right: 0;
    width: 0;
    background: #F5EDEB;
    border-left: 1px solid #F5EDEB;
    animation: maquina 10s infinite  steps(81);
    
}
@keyframes maquina {
    from {
        width: 100%;
    }
    to{
        width: 0;
    }
}
h3{
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}
h5{
	font-family: 'dosis',cursive;
	color:black;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
}	
h4{
	text-align: left;
	font-family: 'dosis',cursive;
	color:black;
	/*background-color: #F5EDEB;*/
	margin-left: 0px;
	line-height: 13px;
	font-size: 15px;
	
}	

header{
	font-color: white;
	width: 1000px;
	height: 130px;
	background: url(../img/logpatitas2.jpg) ;
	background-position: relative;
	border-radius: 10px; /*--curvea las esquinas*/
}
nav{
	width: 1000px;
	height: 33px;
	background:#EDA5F5;
	border-radius: 5px	;
	margin-top: 5px;
}
ul{
	margin: auto;
	padding-top: 1px;
}
li{
	float: left;
	list-style: none;
	padding: 5px;
	background: transparent;
	font-family: 'Quicksand';
	margin: 0px;
	border-radius: 5px; /*--curvea las esquinas*/
	/*box-shadow: 0 0 5px white inset; /*sombra a botones*/

}
section{
	width: 700px;
	background: white;				
	height: 600px;
	float: left;
	border-radius: 10px;
	margin-top: 5px;
}
aside{
	width: 290px;
	background: #F1E3F2; /*el de a lado*/
	height: 600px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 10px;
}
footer{
	width: 1000px; /*el de abajo*/
	height: 90px; 
	background: #EDA5F5;
	float: left;
	margin-top: 1px;
	border-radius: 10px;
	margin-bottom: 10px;
}

p{
	font-size: 20px;
	font-family: 'dosis',cursive;
	line-height: 25px;
	padding: 10px;
	text-align: justify;
}
img { /*imagen de apadrinar*/
	margin: 0px 10px 0px 0px; 
	float: left;	
}


/*clases*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}
.menu:link{ color:black;text-decoration: none;}
.menu:visited{color:black;text-decoration: none;}
.menu:hover{color:white;text-decoration: none;text-shadow:0 0 13px black;}
.menu:active{color:black;text-decoration: none;}

/*pseudoclase*/
/*li:hover{
	background: black;
	box-shadow:0 0 10px white inset;  
}
.menu*/